<div class="user-details">
  <h1>Featured Projects</h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{
      "/assets/img/rpi.jpg" | prepend: site.baseurl
    }}" />
  </div>
  <div class="contents">
    <h3>Raspberry Pi Firewall and Intrusion Detection System</h3>
    <ul>
      <li>Featured Skills</li>
    </ul>
    <p>
      Created a network gateway with a firewall, DHCP and DNS server, and a
      Network Intrusion Detection System (NIDS), entirely based on a Raspberry
      Pi.
    </p>
    <a
      class="project-link"
      href="https://github.com/0ver3inker/Raspberry-Pi-Firewall-and-Intrusion-Detection-System"
      >Check it out</a
    >
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{
      "/assets/img/keylogger.png" | prepend: site.baseurl
    }}" />
  </div>
  <div class="contents-right">
    <h3>Python Keylogger</h3>
    <ul>
      <li>Featured Skills</li>
    </ul>
    <p>
      A keylogger written in python which records all keywords and then sends
      the collected information through email.
    </p>
    <a class="project-link" href="https://github.com/0ver3inker/Python-Keylogger"
      >Check it out</a
    >
  </div>
</div>
